@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap");
@import "@styles/variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  // font-family: Nunito, Helvetica Neue, sans-serif;
  font-family: Montserrat, Helvetica Neue, sans-serif;
}

body {
  background-color: $monoBgHard;
  color: $monoText;
}

button {
  padding: 0.75rem;

  background-color: hsla(0, 0%, 0%, 0);
  border: solid 0.125rem $monoBgSoft;
  border-radius: 1rem;

  color: $monoText;
  font-size: 1rem;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  &:hover {
    background-color: $monoBg;
    border-color: $monoBgSoftest;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.125rem $monoOutline;
  }
}
