@import "@styles/variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#AppWrapper {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-areas: "menu app";
  grid-template-columns: auto 1fr;
  gap: 0;

  background-color: #d6e4eb;
}
