@import "@styles/variables.scss";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  // height: calc(100vh - #{$headerHeight});
  min-height: 20rem;
  max-height: 40rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.topSpacer {
  flex-basis: 5rem;
  // flex-grow: 2;
}

.botSpacer {
  flex-grow: 4;
}

.option {
  align-self: center;

  display: flex;
  align-items: center;

  label {
    display: inline-block;
    width: 5rem;

    color: $monoTextSoft;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.notes {
  width: 100%;
  max-width: 45rem;
  margin: auto;

  div {
    margin-right: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin: 0 1rem;
    }
  }
}

.fadeIn {
  animation: fadeIn 0.3s;
}

.fadeOut {
  animation: fadeOut 0.3s;
  animation-fill-mode: forwards;
}
