@import "@styles/variables.scss";

.Home {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    display: block;
    width: 16rem;
    margin: 0.25rem;
    // height: 3rem;

    // border: solid 0.125rem white;
    // border-radius: 999rem;

    // text-decoration: none;
    // text-align: center;
    // vertical-align: middle;
    // color: $monoText;
  }

  h1 {
    text-align: center;
    margin: 0.5rem 0 1rem 0;
  }

  p {
    margin: 1rem 0 0.5rem 0;
    color: $monoTextSoft;
    text-transform: uppercase;
    font-weight: bold;
  }

  :last-child {
    margin-bottom: 2rem;
  }
}
