@import "@styles/variables.scss";

.Home {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 4rem 0 1rem 0;

    font-family: "Gaegu", sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    text-align: center;

    span {
      font-family: inherit;
      font-size: 3rem;
      vertical-align: middle;
    }
  }

  .groupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $desktopMinBreakpoint) {
      flex-direction: row;
      align-items: flex-start;
      gap: 5rem;
    }

    .group {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 1rem 0 0.5rem 0;

        font-size: 0.875rem;
        color: $monoTextSoft;
        text-transform: uppercase;
        font-weight: bold;
      }

      button {
        display: block;
        width: 16rem;
        margin: 0.25rem;
      }
    }
  }
}
