@import "@styles/variables.scss";

.Menu {
  position: fixed;
  top: 0;
  left: 0;
  width: $menuWidth;
  height: 100vh;
  z-index: 1;

  border-radius: 0 1rem 1rem 0;
  background-color: $monoBg;

  transition: transform 0.25s;

  @media (max-width: $mobileMaxBreakpoint) {
    &.hidden {
      transform: translate(-100%);
    }

    &.removed {
      * {
        display: none;
      }
    }
  }
}

.MenuBg {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  background-color: hsla(0, 0%, 0%, 0.75);

  transition: opacity 0.25s;

  @media (max-width: $mobileMaxBreakpoint) {
    &.hidden {
      opacity: 0;
    }

    &.removed {
      transform: translate(-100%);
    }
  }

  @media (min-width: $desktopMinBreakpoint) {
    display: none;
  }
}
