@import "@styles/variables.scss";

.PageHeader {
  height: $headerHeight;
  width: 100%;
  padding: 0.5rem;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $monoBgHard;

  @media (max-width: $mobileMaxBreakpoint) {
    position: fixed;
    top: 0;
    left: 0;

    &.shadow {
      box-shadow: 0 0.7rem 1rem -1.1rem black;
    }
  }

  @media (min-width: $desktopMinBreakpoint) {
    display: none;
    // margin-left: $menuWidth;
    // width: unset;
    // max-width: $desktopMaxContentWidth;
  }

  h1 {
    flex-grow: 1;

    font-weight: 400;
    font-size: 1rem;
    text-align: center;
  }
}

.menuButton {
  @media (min-width: $desktopMinBreakpoint) {
    display: none;
  }
}

.spacer {
  width: 2.5rem;

  @media (min-width: $desktopMinBreakpoint) {
    display: none;
  }
}
