@import "@styles/variables.scss";

@keyframes incoming {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swapping {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  50% {
    transform: translateX(10rem);
    opacity: 0;
  }

  50.1% {
    transform: translateX(-10rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.Flashcard {
  width: 100%;
  max-width: 30rem;
  height: 15rem;
  margin: 0 auto 0.25rem;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 0.5rem;
  background-color: $monoBg;

  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0 0 1rem -0.5rem black;

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.125rem $monoOutline;
  }

  p {
    text-align: center;
  }

  &.incoming {
    animation-duration: 0.5s;
    animation-name: incoming;
  }

  &.swapping {
    animation-duration: 1s;
    animation-name: swapping;
  }

  &.flipping {
    animation-duration: 0.5s;
    animation-name: flipping;
  }
}

.promptLarge {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.prompt {
  font-size: 2rem;
  font-weight: 600;
}

.answer {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.note {
  color: $monoTextSoft;
}
