@import "@styles/variables.scss";

.Page {
  margin: $headerHeight auto 0 auto;
  padding: 0 1rem;
  max-width: $mobileMaxContentWidth;

  &.menuless {
    margin: auto;
  }

  @media (min-width: $desktopMinBreakpoint) {
    max-width: $desktopMaxContentWidth;
    margin: auto;

    &:not(.menuless) {
      margin-left: $menuWidth;
    }
  }
}
