@import "@styles/variables.scss";

.Page {
  margin: $headerHeight auto 0 auto;
  padding: 0 1rem;
  max-width: $mobileMaxContentWidth;

  @media (min-width: $desktopMinBreakpoint) {
    margin: 0 auto;
    margin: 0;
    max-width: $desktopMaxContentWidth;
  }
}
